name: Release

# always build releases (to make sure wheel-building works)
# but only publish to PyPI on tags
on:
  pull_request:
    paths-ignore:
      - "docs/**"
      - ".github/workflows/*"
      - "!.github/workflows/release.yaml"
  push:
    paths-ignore:
      - "docs/**"
      - ".github/workflows/*.yaml"
      - "!.github/workflows/release.yaml"
    branches-ignore:
      - "dependabot/**"
      - "pre-commit-ci-update-config"
    tags: ["**"]
  workflow_dispatch:

jobs:
  build-release:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: install build package
        run: |
          pip install --upgrade pip
          pip install build
          pip freeze

      - name: build release
        run: |
          python -m build --sdist --wheel .
          ls -l dist

      - uses: actions/upload-artifact@v3
        with:
          name: pytest-mpiexec-${{ github.sha }}
          path: "dist/*"
          if-no-files-found: error

      - name: publish to pypi
        uses: pypa/gh-action-pypi-publish@v1.8.10
        if: startsWith(github.ref, 'refs/tags/')
        with:
          user: __token__
          password: ${{ secrets.pypi_password }}
